
  @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


:root{
    --para: 20px;
    --grey: hsl(0, 12%, 89%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: aqua;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bac1{
    background-color:rgb(185, 53, 53);
    width: 600px;
    height: 800px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px var(--black);
    margin-top:
}

.card-head h3{
    background-color: green;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--white);
}

.event-id{
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto';
}

.event-title{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: 'Roboto';
    padding: 5px;
}

/* .event-title h3{
    background-color: var(--grey);
} */

.venue{
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto';
}

.date{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto';
}

/* .date h3{
    background-color: var(--grey);
} */

.time{
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto';
}

.quantity{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto';
}

/* .quantity h3{
    background-color: var(--grey);
} */

.price{
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto';
}

.totalamount{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto';
}

/* .totalamount h3{
    background-color: var(--grey);
} */

.barcode img{
    width: 70px;
    height: 70px;
    margin-top: -1rem;
}

.created p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -0.7rem;
}

.part1{
    height: 300px;
}

.part2{
    height: 150px;
}
body{
    background-color: black;
}
/* media query... there are two ways for doing media query - from big screen to small screen, vice versa*/
/* media query has two important approach, these are; 
- mobile first approach (starting from lowest breakpoint up to highest breakpoint) - the rules you will see most times is max-width...... 375px, 678px, 768px, 992px
e.g 375px 678px, 679px - 768px, 769px - 992px
- desktop first approach (starting from highest breakpoint down to lowest breakpoint)*/

/* this is for mobile */
@media(max-width: 678px){
    body{
        background-color: blueviolet !important;
    }
}
@media(min-width: 679px) and (max-width: 768px){
    body{
        background-color: yellow!important;
    }
}
@media(min-width: 769px) and (max-width: 992px){
    body{
        background-color: green !important;
    }
}
@media(min-width: 993px){
    body{
        background-color: red !important;
    }
} 

/* this is for desktop */
/* @media(max-width: 992px){
    body{
        background-color: pink;
    }
}
@media(max-width: 991px) and (min-width: 767px){
    body{
        background-color: rgb(224, 0, 37);
    }
}
@media(max-width: 767px) and (min-width: 677px){
    body{
        background-color: rgb(19, 0, 224);
    }
} */